@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poppins:wght@600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.necessary-docs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*36px + 28px from Docs Header*/

  /* width: 1072px;
  height: 300px; Docs DIV */
}
.necessary-docs-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 300px;
  height: 310px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.necessary-docs-content-header {
  display: flex;
  flex-direction: row;

  margin: 0px;
  padding: 0px;
  gap: 25px;
}

.necessary-docs-chart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 86px;

  margin-top: 28px;
}
.necessary-docs-name {
  width: 238px;
  height: 20px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #404040;

  border-radius: 5px;

  /* Inside auto layout */
}

.necessary-docs-name-border {
  width: 8px;
  height: 30px;

  background: #d03363;
  border-radius: 5px;
}

.necessary-docs-description {
  width: 238px;
  height: 150px;

  margin-left: 33px;
  margin-right: 29px;
  margin-top: 65px;

  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */

  color: #404040;
}

.necessary-docs-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0px;
  gap: 20.75px;

  margin-left: 33px;
  margin-top: 15px;
}
.necessary-docs-footer-text {
  text-decoration: none;
  cursor: pointer;

  color: #404040;
}

.necessary-docs-footer-icon {
  width: 13px;
  height: 9.5px;
}

/*NECESSARY DOCS STYLES*/

@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poppins:wght@600;900&display=swap");

.necessary-docs-container {
  display: flex;
  flex-direction: column;

  width: 1272px;
  height: 672px;

  background: #ffffff;
  box-shadow: 0px 15px 30px rgba(12, 14, 43, 0.05);
  border-radius: 61px;
}

.necessary-docs-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-left: 100px;
  margin-right: 100px;
  margin-top: 64px;
}

.necessary-docs-header-title {
  width: 688px;

  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 150%;
  /* or 54px */

  color: #256380;
}

.necessary-docs-header-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  
}

.necessary-docs-header-buttons-container a {
  /*color transparent*/
}

li.previous {
  /* border-width: 0px;
  background-color: transparent; 
  background-image: url("../../assets/images/whitePageButton.png");
  cursor: pointer;
  height: 62px;
  width: 62px;
  */

  cursor: pointer;
}
a.previousBttn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  position: sticky;
  top: 3695px; /*top 3695px -> Equals Position*/
  left: 1125px; /*left 1125px -> Equals Position*/
  background-image: url("../../assets/images/whitePageButton.png");
  height: 72px;
  width: 72px;
}

a.nextBttn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  position: sticky;
  z-index: 1;
  top: 3700px;
  background-image: url("../../assets/images/bluePageButton.png");
  height: 62px;
  width: 62px;
}

li.next {
  /* 
  background-image: url("../../assets/images/bluePageButton.png");
  height: 62px;
  width: 62px;
  border-width: 0px;
  background-color: transparent; 
  cursor: pointer;
  */
  cursor: pointer;
}

li.break {
  color: transparent;
}
li {
  color: transparent;
}

li.paginationActive {
  color: transparent;
}
a{
  color: transparent;
}
a.paginationActive{
  color: transparent;
}

.pageCounter {
  position: absolute;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  z-index: 1;

  margin-left: 49px;
}

.page2-a{
  color: transparent;
  visibility: hidden !important;
}
